# Ignorando archivos pesados
/**/K_nearest_neighboors/KNN.ipynb
/**/Practica4_Comparativo_de_Clasificadores/ML_GomezPerez_Practica4.ipynb


#Ignorando carpetas no utiles
/**/Practica4_Comparativo_de_Clasificadores/__pycache__
/**/Practica3_Clasificador_por_minima_distancia/__pycache__

/**/Libros/
/**/SVMS/padierna_modules/
*.pdf
*.odt
*.png
*.jpg
*.pptx
*.ipynb_checkpoints
*.csv
*__pycache__
